[MASTER]
ignore-paths=.*/2025/.*

[MESSAGES CONTROL]
disable=
    too-many-arguments,
    unused-argument,
    duplicate-code,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring

[TYPECHECK]
ignored-classes=Depends,Request,BackgroundTasks
ignored-modules=pydantic

[DESIGN]
max-returns=6

[FORMAT]
max-line-length=100